Repository solecms/soleink, pull requests merged in 2024-07, with the labels that each got.

#27 :hammer_and_wrench: :mag:Test the CI pipeline
  .github/workflows/ci-cd.yml
Labels: workflow

#33 Update README.md
  README.md
Labels: documentation, enhancement

#36 :wrench: Reposition the status badge in the README.md file (#35)
  README.md
Labels: enhancement, workflow

#37 :memo: Add Table of Contents to README.md (#34)
  README.md
Labels: documentation, enhancement, workflow

#44 ♻️ ➕ sync-pr-issue Workflow #42
  .github/scripts/get-issue.sh
  .github/workflows/sync-pr-issue.yml
Labels: workflow

#46 :recycle: Include sync-pr-issue badge in the README file #45
  README.md
Labels: documentation, infrastructure, workflow

#48 :recycle: trigger-pr-sync-workflow-#47
  .github/workflows/sync-pr-issue.yml
Labels: infrastructure, workflow

#54 Testing
  .github/scripts/get-issue.sh
  .github/workflows/sync-pr-issue.yml
Labels: workflow, testing

#57 Not 404
  .github/scripts/get-issue.sh
  .github/workflows/sync-pr-issue.yml
Labels: workflow, testing

#59 :test_tube: issue-status
  .github/workflows/sync-pr-issue.yml
Labels: documentation, infrastructure, workflow

#60 :test_tube: testing update-workflow
  .github/scripts/get-issue.sh
  .github/workflows/sync-pr-issue.yml
Labels: workflow, testing

#71 :recycle: mv-issue-backlog workflow addition
  .github/workflows/mv-issue-backlog.yml
Labels: workflow
